extends layouts/default







block content
  include layouts/includes/nav
  main.container
    h5.text-center.text-muted.display-4.my-4 Just My Personal Dev Notes

    .wrap
      #accordion 
        .card.flex
          .card-header.bg-dark
            a.card-link(data-toggle='collapse', href='#collapseOne')
               h4.text-muted The History of the web
          #collapseOne.collapse.hide(data-parent='#accordion')
            .card-body
              p Lorem ipsum..
              a.btn.btn-secondary(href="web-and-browsers.html") Go somewhere
        .card 
          .card-header.bg-dark 
            a.card-link(data-toggle='collapse', href='#collapseTwo')
               h4.text-muted Front-End web developement
          #collapseTwo.collapse.hide(data-parent='#accordion')
            .card-body
              | Lorem ipsum..
        .card 
          .card-header.bg-dark 
            a.card-link(data-toggle='collapse', href='#collapseThree')
               h4.text-muted Back-End web developement
          #collapseThree.collapse.hide(data-parent='#accordion')
            .card-body
              | Lorem ipsum..
        .card 
          .card-header.bg-dark 
            a.card-link(data-toggle='collapse', href='#collapseFour')
               h4.text-muted SOLID Design principles
          #collapseFour.collapse.hide(data-parent='#accordion')
            .card-body
              | Lorem ipsum..
        .card 
          .card-header.bg-dark 
            a.card-link(data-toggle='collapse', href='#collapseFive')
               h4.text-muted Algorithms and Data structures
          #collapseFive.collapse.hide(data-parent='#accordion')
            .card-body
              | Lorem ipsum..
        .card 
          .card-header.bg-dark 
            a.card-link(data-toggle='collapse', href='#collapseSix')
               h4.text-muted Design Patterns
          #collapseSix.collapse.hide(data-parent='#accordion')
            .card-body
              | Lorem ipsum..



