extends layouts/default


block content
  include layouts/includes/nav
  main.container
    h4.text-muted History of the web
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maiores eaque culpa 
      | nulla nemo  optio velit et alias officia tenetur eum quaerat, doloremque voluptate ipsam  
      | libero, voluptas nam dolorum esse explicabo. Soluta distinctio sapiente ut doloribus iusto.
      | Quis aut consequatur eligendi maxime dolorem tempora facere quaerat libero aliquid 
      | quisquam deserunt ut temporibus blanditiis necessitatibus mollitia, sequi, quod adipisci!
      | Dolorem eius architecto nobis tenetur cum ratione quam! Maxime nulla facere alias,
      | sequi iure rem explicabo necessitatibus debitis earum commodi nostrum tempora soluta 
      | quae facilis architecto dolor nobis iusto cupiditate nisi. Doloremque, ipsam! 
      | Voluptatem placeat fugiat dolorum ullam repudiandae quasi doloremque magnam?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maiores eaque culpa 
      | nulla nemo  optio velit et alias officia tenetur eum quaerat, doloremque voluptate ipsam  
      | libero, voluptas nam dolorum esse explicabo. Soluta distinctio sapiente ut doloribus iusto.
      | Quis aut consequatur eligendi maxime dolorem tempora facere quaerat libero aliquid 
      | quisquam deserunt ut temporibus blanditiis necessitatibus mollitia, sequi, quod adipisci!
      | Dolorem eius architecto nobis tenetur cum ratione quam! Maxime nulla facere alias,
      | sequi iure rem explicabo necessitatibus debitis earum commodi nostrum tempora soluta 
      | quae facilis architecto dolor nobis iusto cupiditate nisi. Doloremque, ipsam! 
      | Voluptatem placeat fugiat dolorum ullam repudiandae quasi doloremque magnam?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maiores eaque culpa 
      | nulla nemo  optio velit et alias officia tenetur eum quaerat, doloremque voluptate ipsam  
      | libero, voluptas nam dolorum esse explicabo. Soluta distinctio sapiente ut doloribus iusto.
      | Quis aut consequatur eligendi maxime dolorem tempora facere quaerat libero aliquid 
      | quisquam deserunt ut temporibus blanditiis necessitatibus mollitia, sequi, quod adipisci!
      | Dolorem eius architecto nobis tenetur cum ratione quam! Maxime nulla facere alias,
      | sequi iure rem explicabo necessitatibus debitis earum commodi nostrum tempora soluta 
      | quae facilis architecto dolor nobis iusto cupiditate nisi. Doloremque, ipsam! 
      | Voluptatem placeat fugiat dolorum ullam repudiandae quasi doloremque magnam?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maiores eaque culpa 
      | nulla nemo  optio velit et alias officia tenetur eum quaerat, doloremque voluptate ipsam  
      | libero, voluptas nam dolorum esse explicabo. Soluta distinctio sapiente ut doloribus iusto.
      | Quis aut consequatur eligendi maxime dolorem tempora facere quaerat libero aliquid 
      | quisquam deserunt ut temporibus blanditiis necessitatibus mollitia, sequi, quod adipisci!
      | Dolorem eius architecto nobis tenetur cum ratione quam! Maxime nulla facere alias,
      | sequi iure rem explicabo necessitatibus debitis earum commodi nostrum tempora soluta 
      | quae facilis architecto dolor nobis iusto cupiditate nisi. Doloremque, ipsam! 
      | Voluptatem placeat fugiat dolorum ullam repudiandae quasi doloremque magnam?